.header {
  border-bottom: 1px solid #eaeaea;
  background: #fafafa;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.logo {
  font-size: 1.8em;
  font-weight: 700;
  display: block;
  margin: auto 0;
  padding: 10px;
  color: var(--accent-color);
  &:hover {
    filter: brightness(1.1);
  }
  &:focus {
    outline: 1px dashed blue;
  }
}

.items {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  padding-left: 10px;
}

.item {
  font-size: 1.1em;
  font-weight: 600;
  color: #2c2c2c;
  padding: 25px 10px;
  & a {
    padding: 10px 20px;
    &:hover {
      color: #0a0a0a;
    }
    &:focus {
      outline: 1px dashed blue;
    }
  }
}
