.card {
  background: var(--light-grey);
  border-radius: 16px;
  overflow: hidden;
}

.image {
  position: relative;
  height: 300px;
  background-color: #000;
}

.content {
  margin: 10px;
}

.title {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.explanation {
  /* Non standard way to clamp multiline text, but works in all modern browsers with no js */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  min-height: 55px;
  margin: 4px 0;
}

.date {
  font-weight: 600;
  font-size: 0.95em;
}

.copyright {
  color: #fff;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.5em;
  user-select: none;
}

.info {
  width: max-content;
  display: block;
  padding: 5px;
  font-weight: 600;
  font-size: 1.1em;
  margin-right: 8px;
  margin-bottom: 5px;
  margin-left: auto;
  user-select: none;
  & svg {
    vertical-align: sub;
  }
  &:hover {
    color: #ea3660;
  }
  &:focus {
    outline: 1px dashed blue;
  }
}
